__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.env
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
.ipynb_checkpoints/
*.egg-info/
*.egg
dist/
build/
*.exe
*.dll
*.so
*.dylib
model.pkl
scaler.pkl
instance/
shit/
*.db
.vscode/